.container{
    margin: 0 auto;
    text-align: center ;
    margin-top: 200px;
    border: 2px dotted #000;
    padding: 20px;
    width: 300px;
  }
  input[type="file"] {
    display: none;
  }
  .fileName{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding:15px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #737275;
    border: none;
    width: 220px;
  }
  
  .file-search-button{
    margin-top: 30px;
  }

  .custom-file-upload {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding:15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f35151;
    border: none;
  }
  i{
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
  padding: 5px;
  }